<form class="ui stacked segment form" action="/dashboard/addstation" method="POST">
  <h2>Add a station</h2>
  <div class="field">
    <label>Name</label>
    <input placeholder="Name" type="text" name="name">
  </div>
  <button class="ui blue submit button">Add station</button>
</form>