{{> menu id="about"}}

<section class="ui segment">
  <section class="ui raised segment">
    <h1 class="ui header">
      About this app
    </h1>
    <p>
      To be replaced with content...
    </p>
  </section></section>