{{> menu id="about"}}

<section class="ui segment">
  <section class="ui raised segment">
    <h1 class="ui header">
      About WeatherTop v2
    </h1>
    <p><span class="ui large text">This is WeatherTop v2, Release 2.</span></p>
    <p><span class="ui large text">This version of the web application introduces users, with each station and its readings tied to a specific user. It also introduces persistence, with any new users, stations or readings added to the correct JSON file.</span></p>
    <p><span class="ui large text">Each user sees a dashboard with their stations listed, links to each station page, and a section to add readings.</span></p>
    <p><span class="ui large text">For each station, the latest weather conditions, temperature, wind speed and direction, and pressure are displayed in the card grid. Where there are multiple readings for a station, maximum and minimum readings are displayed.</span></p>
    <p><span class="ui large text">New users can sign up and log in. New stations can be created and new readings can be entered. All new user data is saved to <em>user-store.json</em> and all new stations and readings are saved to <em>station-store.json</em>, linked to their owner.</span></p>
    <p><span class="ui large text">This version is deployed on Glitch at <a href="https://buttery-juvenile-armadillo.glitch.me/">https://buttery-juvenile-armadillo.glitch.me/</a></span></p>
  </section>
</section>