{{> menu id="about"}}

<section class="ui segment">
  <section class="ui raised segment">
    <h1 class="ui header">
      About WeatherTop v2
    </h1>
    <p><span class="ui large text">This is WeatherTop v2, Baseline.</span></p>
    <p><span class="ui large text">This version of the web application displays all stations together on a single dashboard.</span></p>
    <p><span class="ui large text">For each station, the latest weather conditions, temperature in degrees Celsius and Fahrenheit, wind speed in the Beaufort scale and pressure in hPa are displayed in the card grid.</span></p>
    <p><span class="ui large text">All raw readings are taken from the JSON file and displayed in a table below the latest readings, comprising the code, temperature in degrees Celsius, wind speed in km/h and pressure in hPa.</span></p>
  </section>
</section>